<h2>About BioArtBot</h2>

<p>BioArtBot is a project run out of Counter Culture Labs, a community science lab in Oakland, California. Our goal is to help more people do - and have fun with - science!</p>

<h4>How it works</h4>

<p>We use a liquid handling robot, which is a special kind of robot built for lab sciences, to "print" your drawing with microbes onto a petri dish. Our robot carefully places a few cells at each location you specify, then over a few days these cells multiply until each "pixel" is actually a microbial colony. The microbes we use are human-safe strains of E. coli that have been genetically modified so that they produce bright colors when they grow. We get different colors by choosing cells with different genetic modifications.</p>

<h4>What happens when you submit a drawing</h4>

<p>Once we've received a batch of drawings, we use software we wrote to translate your drawings into robot instructions, and one of the volunteer BioArtBot team members loads them onto our robot. Then we prep the microbes and set the robot working. Once all of the microbes have been placed just so, we cover the plates and let them grow in an incubator at 34°C for two days. Finally, we take a picture of the living art and send it back to you. We made a video series of how it all works <a href="https://www.youtube.com/playlist?list=PLIhn42HNYoMi0XeVDLo8v2Jv_QK6Viip-">here</a>.</p>

<h4>Why BioArtBot?</h4>

<p>Because it's cool! Learning how life works is awesome, and studying (and playing with) microbes is great way to get started. With the Internet and robotics, more people than ever can explore these concepts. We want to give people that chance, in a fun, playful, and maybe even expressive way.
The BioArtBot platform at Counter Culture Labs is an all-volunteer, non-profit passion project. You can help support us by donating to Counter Culture Labs below.</p>

<h4>Contact</h4>
<ul>
<li>For questions, feedback, or just to say Hi, email us at <a href="mailto:ccl.artbot@gmail.com">ccl.artbot@gmail.com</a></li>
<li>For general updates, join our <a href="https://groups.google.com/forum/#!forum/bioartbot/join">community mailing list</a></li>
<li>If you are a community science lab, library, university, or other non-profit serving a community and want to launch your own BioArtBot, we would love to support you! Send us an email at <a href="mailto:ccl.artbot@gmail.com">ccl.artbot@gmail.com</a></li>
<li>BioArtBot is completely open-source. If you want to contribute, the code can be found in our <a href="https://github.com/cclrobotics/ARTBot">code repository</a></li>
</ul>