<html lang="en">
    <head>
	<meta charset="utf-8">
	<!-- Ensures proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Forces IE 8/9/10 to use its latest rendering engine -->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>ArtBot: Agar Art Robot</title>

	<meta property="og:description" content="Oakland&#039;s Community Supported Microbiology Maker Space" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/editor/join-us-on-meetup.jpg?1552533349" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/donate-300x300_orig.png" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/fb.jpeg?1552535710" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/mycelialmass-sept182018-web-9605.jpg" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/20170926-174400.jpg?1540024331" />
	<meta property="og:image" content="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/logo-full-small.png" />
	<meta property="og:url" content="https://www.counterculturelabs.org/" />

	<meta name="description" content="Oakland's Community Supported Microbiology Maker Space" />
	<meta name="keywords" content="Counter Culture Labs, biology laboratory, open science, learning lab, teaching lab, bay area maker space" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
	<link rel="stylesheet" href="/static/css/ccl-styles.css">
	<link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
	<!-- nav bar -->
	{% block nav %}
	    {% include 'base_nav.html' %}
	{% endblock %}

	{% block body %}{% endblock %}
    </body>
</html>
