<html lang="en">
    <head>
	<meta charset="utf-8">
	<!-- Ensures proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Forces IE 8/9/10 to use its latest rendering engine -->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>ArtBot: Agar Art Robot</title>

	<meta property="og:description" content="Oakland&#039;s Community Supported Microbiology Maker Space" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/editor/join-us-on-meetup.jpg?1552533349" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/donate-300x300_orig.png" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/fb.jpeg?1552535710" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/mycelialmass-sept182018-web-9605.jpg" />
	<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/20170926-174400.jpg?1540024331" />
	<meta property="og:image" content="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
	<meta property="og:url" content="https://www.counterculturelabs.org/" />

	<meta name="description" content="Oakland's Community Supported Microbiology Maker Space" />
	<meta name="keywords" content="Counter Culture Labs, biology laboratory, open science, learning lab, teaching lab, bay area maker space" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="https://kit.fontawesome.com/9b8a88fa41.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
    </head>
    <body>
		<!-- nav bar -->
		{% block nav %}
			{% include 'nav.html' %}
		{% endblock %}

		{% block body %}{% endblock %}
    </body>
</html>
