<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-0" style="background-color:rgb(155, 193, 207)">
                    Login To BioArtBot
            </div>
            <div class="modal-body">
                <p class="login-text pt-2" id="login-msg">
                    You'll need to login to access this page.

                </p>
                <form role="form" id="login-form">
                    <div class="form-group">
                      <label for="usrname">Username</label>
                      <input type="text" class="form-control" id="login-username" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="psw">Password</label>
                      <input type="password" class="form-control" id="login-password" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-default btn-success btn-block" id="login-submit">Login</button>
                  </form>
                <p class="login-text pt-2">
                    Want to print art but don't have a login yet?<br>
                    Email <a href="mailto:ccl.artbot@gmail.com">ccl.artbot@gmail.com</a> to get set up.
                </p>
            </div>
        </div>
    </div>
</div>