<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Forces IE 8/9/10 to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pixel Art Maker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="row">
      <div class="column">
        <div class="inputs">
          <h4>choose grid size</h4>
          <!-- class names all lower case and delimited with hyphens per Udacity Frontend Nanodegree Style Guide (CSS page) -->
          <form class="size-picker">
            height:
            <input type="number" class="input-height" name="height" min="1" max="200" value="50">
            <br><br>
            width:
            <input type="number" class="input-width" name="width" min="1" max="200" value="70">
            <input type="submit" class="submit-button" value="submit">
            <p><em>also clears grid</em></p>
          </form>

          <hr>
          <h4>select color</h4>
          <div id="color-container">
          </div>
          <input type="button" class="quick-fill" value="fill">
          <br>
          
          <hr>
          <h4>mode</h4>
          <input type="button" class="erase-mode" value="erase">
          <p><em>or double-click to erase</em></p>
          <input type="button" class="draw-mode" value="draw">
          <br>
          
          <hr>
          <h4>Submit drawing</h4>
          <form class="draw-submit">
            <input id="csrf" type="hidden" name="csrf" value="{{ csrf_token() }}" />
            <input type="submit" class="submit-button" value="Submit drawing">
          </form>
          <br>

          <hr>
          <h4>Donate!</h4>
          <p><em>Please donate.  It costs money produce the art and your donation help Counter Culture Labs continue!</em></p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            
            <!-- Update the email address here -->
            <input type="hidden" name="business" value="example@example.com" />
            
            <input type="hidden" name="item_name" value="Counter Culture Lab Oakland ARTRobot public donations." />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="hidden" name="amount" value="5" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>

        </div>
      </div>
      <div class="column">
        <h1>Draw Art For Robot</h1>
        <table class="pixel-canvas"></table>
        <br>
      </div>
    </div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
