<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- Ensures proper rendering and touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Forces IE 8/9/10 to use its latest rendering engine -->
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>ArtBot: Agar Art Robot</title>

		<meta property="og:description" content="Oakland&#039;s Community Supported Microbiology Maker Space" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/editor/join-us-on-meetup.jpg?1552533349" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/donate-300x300_orig.png" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/fb.jpeg?1552535710" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/mycelialmass-sept182018-web-9605.jpg" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/published/20170926-174400.jpg?1540024331" />
		<meta property="og:image" content="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
		<meta property="og:image" content="https://www.counterculturelabs.org/uploads/8/3/9/8/83988754/logo-full-small.png" />
		<meta property="og:url" content="https://www.counterculturelabs.org/" />

		<meta name="description" content="Oakland's Community Supported Microbiology Maker Space" />
		<meta name="keywords" content="Counter Culture Labs, biology laboratory, open science, learning lab, teaching lab, bay area maker space" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0;">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica">
		<link rel="stylesheet" href="/static/css/ccl-styles.css">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
    <body>
		<!-- nav bar -->
		<div class="sticky-wrapper" style="height:102px;">
			<div id="header-wrap" class="stuck">
				<div id="header" class="container">
					<label id="nav-trigger" class="hamburger" for="mobile-input"><span></span></label>
					<h1 id="logo">
						<span class="wsite-logo">
							<a href="/">
								<img src="/static/img/logo-full-small.png" alt="Counter Culture Labs" />
							</a>
						</span>
					</h1>
					<div id="nav">
						<ul class="wsite-menu-default">
							<li id="active" class="wsite-menu-item-wrap">
								<a href="/" class="wsite-menu-item">
									ArtBot Home
								</a>
							</li>
							<li id="wsite-nav-249954621708863969"
								class="wsite-menu-item-wrap ">
								<a href="https://endeneublog.wordpress.com/2019/10/02/artbot-takes-shape/"
									class="wsite-menu-item">
									About ArtBot
								</a>
							</li>
							<li id="pg569956528913042876" class="wsite-menu-item-wrap">
								<a class="wsite-menu-item" href="https://www.counterculturelabs.org/info--history.html">
										About CCL
								</a>
							</li>
							<li id="wsite-nav-295754581329680211"
								class="wsite-menu-item-wrap ">
								<a href="#join"
									class="wsite-menu-item">
										Join Us
								</a>
							</li>
							<li id="pg766027956228418609" class="wsite-menu-item-wrap">
								<a href="https://github.com/cclrobotics/ARTBot"
									class="wsite-menu-item">
									Open Source Repos
								</a>
							</li>
						</ul>
					</div>
					<div id="mobile-nav" class="container">
						<ul class="wsite-menu-default">
							<li id="active" class="wsite-menu-item-wrap">
								<a href="/"
									class="wsite-menu-item">
									ArtBot Home
								</a>
							</li>
						</ul>
						<ul class="wsite-menu">
							<li id="wsite-nav-249954621708863969"
								class="wsite-menu-item-wrap ">
								<a href="https://endeneublog.wordpress.com/2019/10/02/artbot-takes-shape/"
									class="wsite-menu-item">
										About ArtBot & Join Us
								</a>
							</li>
						</ul>
						<ul class="wsite-menu">
							<li id="pg569956528913042876" class="wsite-menu-item-wrap">
								<a class="wsite-menu-item" href="https://www.counterculturelabs.org/info--history.html">
										About CCL
								</a>
							</li>
						</ul>
						<ul class="wsite-menu">
							<li id="wsite-nav-295754581329680211"
								class="wsite-menu-item-wrap ">
								<a href="mailto:ccl-artbot@gmail.com"
									class="wsite-menu-item">
										Email Us
								</a>
							</li>
						</ul>
						<ul>
							<li id="pg766027956228418609" class="wsite-menu-item-wrap">
								<a href="https://github.com/cclrobotics/ARTBot"
									class="wsite-menu-item">
									Open Source Repos
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- drawing section -->
		<section>
			<div class="row">
				<h3>What is this?</h3>
				<br>
				The BioArtBot project lets <b>you</b> make art with biology. Click your mouse in the grid below to
				make your drawing and we will print it out with microbial ink - real living bacteria that produce
				vivid colors! We'll email a photo of your living work of art back to you. If you submit before
				<b>11:59PM EST on Oct 17</b> we'll also enter your work into
				<a href="https://asm.org/Events/2019-ASM-Agar-Art-Contest/Home">ASM's annual Agar Art Contest</a> on
				your behalf. We're ready! Show us what you got!
			</div>
			<hr>
			<br>
			<div class="row">
				<div class="column">
					<div class="inputs">
						<h4>Select color</h4>
						<div id="color-container">
						</div>
						<input type="button" class="quick-fill" value="fill">
						<br>
					
						<hr>
						<h4>Mode</h4>
						<input type="button" class="erase-mode" value="erase">
						<p><em>or double-click to erase</em></p>
						<input type="button" class="draw-mode" value="draw">
						<br>

						<hr>
						<h4>Art title</h4>
						<p><em>Give your art a title</em></p>
						<input type="text" id="title" class="draw-mode">
						<br>

						<hr>
						<h4>Contact info</h4>
						<p><em>Give us an email so we can confirm your submission and let you know when it's ready</em></p>
						<input type="email" id="email" class="draw-mode">
						<br>
						
						<hr>
						<h4>Submit drawing</h4>
						<form class="draw-submit">
							<input id="csrf" type="hidden" name="csrf" value="{{ csrf_token() }}" />
							<input type="submit" class="submit-button" value="Submit drawing">
						</form>
						<br>

						<hr>
						<h4>Donate!</h4>
						<p><em>Please donate.  It costs money to produce the art and your donation helps Counter Culture Labs continue!</em></p>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_donations" />
							
							<!-- Update the email address here -->
							<input type="hidden" name="business" value="example@example.com" />
							
							<input type="hidden" name="item_name" value="Counter Culture Lab Oakland ARTRobot public donations." />
							<input type="hidden" name="currency_code" value="USD" />
							<input type="hidden" name="amount" value="5" />
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
							<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
						</form>
					</div>
				</div>
				<div class="column">
					<h1>Draw Art For Robot</h1>
					<table class="pixel-canvas"></table>
				</div>
			</div>
		</section>
		<hr class="section-break">

		<!-- slideshow section -->
		<section>
			<div><h3><em>Swipe right and left to view</em></h3><br></div>
			<div class="slideshow">
				<img src="/static/img/a1.jpg" alt="Close up of geometric agar art plate.">
				<img src="/static/img/a2.jpg" alt="Close up of Assist All Humans agar art plate.">
				<img src="/static/img/a4.jpg" alt="The art that was submitted for the Assist All Humans agar art.">
				<img src="/static/img/a5.jpg" alt="Tim spraying down some manual pipette tips for use in the biosafety cabinet.">
				<img src="/static/img/a6.jpg" alt="Some agar art made with a brush-style pipette tip.">
				<img src="/static/img/a7.jpg" alt="Our ArtBot OpenTrons OT2.">
				<img src="/static/img/a8.jpg" alt="Close up of one of our first tests, smiley face agar plate, before putting it into the incubator.">
				<img src="/static/img/a9.jpg" alt="Tim holding one of our first tests, the smiley face agar plate, before putting it into the incubator.">
				<img src="/static/img/a10.jpg" alt="Close up of one of our first tests, smiley face, after it was incubated.">
				<img src="/static/img/a11.jpg" alt="Close up of pipette tip in agar plate.">
			</div>
			<div id="join"></div>
		</section>
		<hr class="section-break">

		<!-- join us section -->
		<section>
			<div class="">
				<div class="">
					<h2>Join Us!</h2>
					<h3><em>No experience necessary</em></h3>
					<br>
				</div>
			</div>
			<div class="">
				<div class="">
					<h3><a href="http://meetu.ps/c/19GTP/xF77c/d" target="_blank">MeetUp.com</a></h3><br>
				
					<h3><a href="https://github.com/cclrobotics/ARTBot" target="_blank">Github.com</a></h3><br>
			
					<h3><a href="https://trello.com/b/FKrqcKTU/cll-liquid-handling-robot" target="_blank">Trello.com</a></h3><br>
				
					<h3><a href="https://www.youtube.com/channel/UCRUJB_S3yMINT7hvwFord6Q" target="_blank">YouTube.com</a></h3><br><br>

					<h3><a href="mailto:CCL.ARTBot@gmail.com" target="_blank">Email Us!</a></h3><br>
				</div>
			</div>
		</section>
		<hr class="section-break">

		<!-- youtube section -->
		<section>
			<div class="">
				<div class="">
					<h2>Watch Us</h2>
					<iframe 
						width="560" 
						height="315" 
						src="https://www.youtube.com/embed/playlist?list=PLIhn42HNYoMhWYj7aEIN8FOzgLqbZvj0j" 
						frameborder="0" 
						allow="autoplay; encrypted-media" 
						allowfullscreen></iframe>
				</div>
			</div>
		</section>
		<hr class="section-break">

		<!--  donate section -->
		<section>
			<div>
				<div>
					<h2>Donate</h2>
					<h3><em>Please donate.  It costs money to produce the art and your donation helps Counter Culture Labs continue!</em></h3>
					<br>	
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_donations" />
						
						<!-- Update the email address here -->
						<input type="hidden" name="business" value="example@example.com" />
						
						<input type="hidden" name="item_name" value="Counter Culture Lab Oakland ARTRobot public donations." />
						<input type="hidden" name="currency_code" value="USD" />
						<input type="hidden" name="amount" value="5" />
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
					</form>
				</div>
			</div>
		</section>

		<!-- success modal -->
		<div id="success-modal" class="modal">

		<!-- modal content -->
		<div class="modal-content">
			<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Success</h2>
			</div>
			<div class="modal-body">
			<p class="response-text"></p>
			<p><em>If you haven't, please consider donating.  It costs money to produce the art and your donation helps Counter Culture Labs continue!</em></p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_donations" />
				
				<!-- Update the email address here -->
				<input type="hidden" name="business" value="example@example.com" />
				
				<input type="hidden" name="item_name" value="Counter Culture Lab Oakland ARTRobot public donations." />
				<input type="hidden" name="currency_code" value="USD" />
				<input type="hidden" name="amount" value="5" />
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
			</form>
			</div>
			<div class="modal-footer">
			<h3>Thank you!</h3>
			</div>
		</div>
		</div>

		<!-- error modal -->
		<div id="error-modal" class="modal">

		<!-- modal content -->
		<div id="error-content" class="modal-content">
			<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Error</h2>
			</div>
			<div class="modal-body">
			<p class="response-text"></p>
			</div>
			<div class="modal-footer">
			<h3>Please try again later!</h3>
			</div>
		</div>
		</div>

		<script src="/static/js/main.js"></script>
  	</body>
</html>
