<ul class="wsite-menu-default">
    <li id="active" class="wsite-menu-item-wrap">
	<a href="/" class="wsite-menu-item">
	    ArtBot Home
	</a>
    </li>
    <li id="wsite-nav-249954621708863969" class="wsite-menu-item-wrap">
	<a
	    href="https://endeneublog.wordpress.com/2019/10/02/artbot-takes-shape/"
	    class="wsite-menu-item">
	    About ArtBot
	</a>
    </li>
    <li id="pg569956528913042876" class="wsite-menu-item-wrap">
	<a
	    class="wsite-menu-item"
	    href="https://www.counterculturelabs.org/info--history.html">
	    About CCL
	</a>
    </li>
    <li id="wsite-nav-295754581329680211" class="wsite-menu-item-wrap">
	<a href="#join" class="wsite-menu-item">
	    Join Us
	</a>
    </li>
    <li id="pg766027956228418609" class="wsite-menu-item-wrap">
	<a
	    href="https://github.com/cclrobotics/ARTBot"
	    class="wsite-menu-item">
	    Open Source Repos
	</a>
    </li>
</ul>
