<div>
    <h3>
	<em>
	    Swipe right and left to view
	</em>
    </h3>
    <br>
</div>
<div class="slideshow">
    <img src="/static/img/a1.jpg" alt="Close up of geometric agar art plate.">
    <img
	src="/static/img/a2.jpg"
	alt="Close up of Assist All Humans agar art plate.">
    <img
	src="/static/img/a4.jpg"
	alt="The art that was submitted for the Assist All Humans agar art.">
    <img
	src="/static/img/a5.jpg"
	alt="Tim spraying down some manual pipette tips for use in the biosafety cabinet.">
    <img
	src="/static/img/a6.jpg"
	alt="Some agar art made with a brush-style pipette tip.">
    <img src="/static/img/a7.jpg" alt="Our ArtBot OpenTrons OT2.">
    <img
	src="/static/img/a8.jpg"
	alt="Close up of one of our first tests, smiley face agar plate, before putting it into the incubator.">
    <img
	src="/static/img/a9.jpg"
	alt="Tim holding one of our first tests, the smiley face agar plate, before putting it into the incubator.">
    <img
	src="/static/img/a10.jpg"
	alt="Close up of one of our first tests, smiley face, after it was incubated.">
    <img src="/static/img/a11.jpg" alt="Close up of pipette tip in agar plate.">
</div>
<div id="join"></div>
