tr.job-data {
    border: silver 1px dotted;
    text-align: center;
    background-color: white;
}

td.job-data {
    width: 200px;
}

img.job-data {
    margin: 20px;
}

.job-header {
    text-align: center;
    background-color:deepskyblue;
}