body {
  text-align: center;
  background-color: #ececec;
  overflow-x: hidden;
}

* {
  color: grey;
}

section {
  margin-top: 0px;
  margin-bottom: 70px;
}

.canvas-container {
	max-width: 60vw;
}

.canvas-container .expand {
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
}

.canvas-container .fa-expand:hover {
	font-size: 1.5rem;
}

table,
tr,
td {
  border: silver 1px dotted;
}

.pixel-canvas {
	background-color : white;
	width: 390px;
	height: 260px;
}

#sidebar-left {
	max-width: 300px;
}

#sidebar-right {
	max-width: 300px;
	display: none !important;
}

.color-picker {
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	padding: 0;
	border: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
}

.color-picker:hover {
	width: 25px;
	height: 25px;
}

.max-width-98 {
	max-width: 98% !important;
}

.youtube-video {
	width: 100vw;
	height: 55vw;
}

@media screen and (min-width: 576px) {
	.pixel-canvas {
		width: 585px;
		height: 390px;
	}
	.youtube-video {
		width: 576px;
		height: calc(0.55*576px);
	}
}

@media screen and (min-width: 768px) {
	.pixel-canvas {
		width: 780px;
		height: 520px;
	}
	.canvas-container {
		max-width: 72vw;
	}
}

@media screen and (min-width: 992px) {
	.canvas-container {
		max-width: 65vw;
	}
}

@media screen and (min-width: 1200px) {
	.pixel-canvas {
		width: 975px;
		height: 650px;
	}
	#sidebar-left {
		max-width: 350px;
	}
	#sidebar-right {
		max-width: 350px;
		display: block !important;
	}
	.color-picker {
		width: 25px;
		height: 25px;
	}
	.color-picker:hover {
		width: 30px;
		height: 30px;
	}
	.canvas-container {
		max-width: 60vw;
	}
}

@media screen and (min-width: 1622px) {
	.canvas-container .expand {
		display: none;
	}
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

td {
	box-sizing: border-box;
}

/* Styles height and width input boxes */
input[type=number] {
  width: 3em;
  border: 1px solid #dcdcdc;
}

hr.section-break {
  overflow: visible; /* For IE */
  height: 20px;
  margin-top: 30px;
  border-style: solid;
  border-color: grey;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  box-shadow: 0 -7px 5px 1px grey, 0 0 0 0 #ececec, 0 5px 15px 5px #ececec, 0 0 0 0 #ececec;
}
hr.section-break:after {
  content: "\00a0";  /* Prevent margin collapse */
}
hr.section-break:before {
  display: block;
  content: "";
  height: 20px;
  margin-top: -31px;
  border-style: solid;
  border-color: grey;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  box-shadow: 0 7px 5px 1px grey, 0 0 0 0 #ececec, 0 -5px 15px 5px #ececec, 0 0 0 0 #ececec;
}

/* Styles buttons, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button, .quick-fill, .erase-mode, .draw-mode, .submit-input {
	box-shadow: inset 0px 1px 0 0 #fff;
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
	/* creates rounded edges (more pixels -> more rounded) */
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	padding: 4px 15px;
	text-decoration: none;
	/* text-shadow: 0 1px #fff; */
	cursor: pointer;
}

.submit-button:disabled {
	box-shadow: none;
	background: rgba(255, 255, 255, 0);
}

.selected-mode {
	background: linear-gradient(#f9f9f9 5%, #c5ddb5 100%);
}

.has-error {
	border: 3px solid rgba(255, 0, 0, 0.30);
}

/* Styles content to left of grid */
.info-block {
	border-radius: 15px;
	border: 1px solid #dcdcdc;
	background-color : white;
}

#color-container {
    display: inline-block;
	background-color: #dcdcdc;;
	border-radius: 7px;
    border: 1px solid #dcdcdc;
    margin-bottom: 0.75em;
}

.selected-color {
    border: 3px solid #000000;
}

/*
* Slideshow styles
*
*/
#cclSlideshow {
	min-height: 100px;
	height: 85vh;
	max-height: calc(0.562*100vw);
	min-width: calc(1.779*100px);
	width: calc(1.779*85vh);
	max-width: 100%;
}

.carousel-item img {
	margin: auto;
}

.navbar-brand img {
	width: 170px;
}

@media screen and (min-aspect-ratio: 1) {
	#cclSlideshow {
		max-height: 1019px;
		max-width: 1813px;
	}
}

@media screen and (max-width: 1813px) {
	.navbar-brand img {
		width: 150px;
	}
}

#submission-error {
	display: none;
}